.home {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
  width: 80px;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.menus a {
  color: #fff;
}

.menus a + a{
  margin-left: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
