body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #24292e;
  color: hsla(0,0%,100%,.75);
  padding-bottom: 12px;
  padding-top: 12px;
  z-index: 32;
  padding-left: 10px;
}

.menu a {
  color: #fff;
  padding-right: 8px!important;
}
