node_modules
npm-debug.log*
package-lock.json
yarn.lock
coverage
dist
.DS_Store
.cache
.vscode
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
